## Задание выполнил: Голиков Андрей Александрович, РИМ-120908

In [ ]:
import numpy as np
import pandas as pd
import html5lib

In [ ]:
titanic = pd.read_html('https://github.com/ogrisel/parallel_ml_tutorial/blob/master/notebooks/titanic_train.csv', header=0)
titanic = titanic[0]
titanic = titanic.drop(titanic.columns[0], axis = 1)

In [ ]:
titanic.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

## 1) Сколько мужчин и женщин находилось на борту?

In [1]:
count = len([male for male in titanic['Sex'] if male == 'Male'])
print(f'На борту Титаника было {count} мужчин, а женщин {len(titanic) - count}')

NameError: ignored

## 2) Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин/женщин по отдельности. Сколько было мужчин 2-го класса?

Распределение переменной Pclass:

In [ ]:
titanic['Pclass'].describe()

count    891.000000
mean       2.308642
std        0.836071
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        3.000000
Name: Pclass, dtype: float64

Распределение Pclass для мужчин:

In [ ]:
tm = titanic['Pclass'].loc[titanic['Sex'] == 'male']

tm.describe()

count    577.000000
mean       2.389948
std        0.813580
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        3.000000
Name: Pclass, dtype: float64

Распределение Pclass для женщин:

In [ ]:
titanic['Pclass'].loc[titanic['Sex'] != 'male'].describe()

count    314.000000
mean       2.159236
std        0.857290
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        3.000000
Name: Pclass, dtype: float64

In [ ]:
print(f"Из {tm.count()} мужчин на Титанике всего {tm.loc[titanic['Pclass'] == 2].count()} было 2-го класса")

Из 577 мужчин на Титанике всего 108 было 2-го класса

## 3) Каковы медиана и стандартное отклонение платежей (fare)? Округлить до 2х знаков.

In [ ]:
print(f"Медиана - {round(titanic['Fare'].median(), 2)}, стандартное отклонение - {round(titanic['Fare'].std(), 2)}")

Медиана - 14.45, стандартное отклонение - 49.69

## 4) Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [ ]:
juns = titanic['Age'].loc[titanic['Age'] < 30]
older = titanic['Age'].loc[titanic['Age'] > 60]

In [ ]:
jsurv = juns.loc[titanic['Survived'] == 1]
osurv = older.loc[titanic['Survived'] == 1]

In [ ]:
jres = jsurv.count() * 100/juns.count()
ores = osurv.count() * 100/older.count()

In [ ]:
print(f"{round(jres, 1)}% среди молодых и {round(ores, 1)}% среди старых")

40.6% среди молодых и 22.7% среди старых

Правда

## 5) Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [ ]:
men = titanic['Sex'].loc[titanic['Sex'] == 'male']
women = titanic['Sex'].loc[titanic['Sex'] == 'female']

In [ ]:
msurv = men.loc[titanic['Survived'] == 1]
fsurv = women.loc[titanic['Survived'] == 1]

In [ ]:
mres = msurv.count() * 100/men.count()
fres = fsurv.count() * 100/women.count()

In [ ]:
print(f"{round(mres, 1)}% среди мужчин и {round(fres, 1)}% среди женщин")

18.9% среди мужчин и 74.2% среди женщин

Правда

## 6) Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [ ]:
men = titanic['Name'].loc[titanic['Sex'] == 'male']
men = pd.DataFrame(men)

In [ ]:
Charles = len([name for name in men['Name'].values if 'Charles' in name]) # 20
Thomas= len([name for name in men['Name'].values if 'Thomas' in name]) # 16
William = len([name for name in men['Name'].values if 'William' in name]) # 54
John = len([name for name in men['Name'].values if 'John' in name]) # 41

William самое частовсречающееся имя.

P.S: решение костыльное, можно было сделать с помощью регулярных выражений, но у меня с ними туго. Также можно было бы засплитить имена каждого мужчины по пробелам, но не у всех мужчин имя стоит под одинаковым индексом в списке.

Буду рад узнать верное решение!

## 7) Сравните распределение возраста у спасенных и у погибших. Средний возраст погибших выше, верно?

In [ ]:
surv = titanic['Age'].loc[titanic['Survived'] == 1].mean()
notsurv = titanic['Age'].loc[titanic['Survived'] == 0].mean()

In [ ]:
print(notsurv > surv)

True

Да

## 8) Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

1.   В среднем мужчины 1-го класса старше 40 лет
2.   В среднем женщины 1-го класса старше 40 лет
3.   Мужчины всех классов в среднем старше женщин того же класса
4.   В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [ ]:
m1c = titanic['Age'].loc[titanic['Sex'] == 'male'].loc[titanic['Pclass'] == 1].mean() # Мужчины 1-го класса
m1c

41.28138613861386

Верно

In [ ]:
w1c = titanic['Age'].loc[titanic['Sex'] == 'female'].loc[titanic['Pclass'] == 1].mean() # Женщины 1-го класса
w1c

34.61176470588235

Неверно

In [ ]:
m2c = titanic['Age'].loc[titanic['Sex'] == 'male'].loc[titanic['Pclass'] == 2].mean() # Мужчины 2-го класса
w2c = titanic['Age'].loc[titanic['Sex'] == 'female'].loc[titanic['Pclass'] == 2].mean() # Женщины 2-го класса
m3c = titanic['Age'].loc[titanic['Sex'] == 'male'].loc[titanic['Pclass'] == 3].mean() # Мужчины 3-го класса
w3c = titanic['Age'].loc[titanic['Sex'] == 'female'].loc[titanic['Pclass'] == 3].mean() # Женщины 3-го класса

m1c > w1c, m2c > w2c, m3c > w3c

(True, True, True)

Верно

In [ ]:
firstClass = titanic['Age'].loc[titanic['Pclass'] == 1].mean()
secondClass = titanic['Age'].loc[titanic['Pclass'] == 2].mean()
thirdClass = titanic['Age'].loc[titanic['Pclass'] == 3].mean()

firstClass > secondClass > thirdClass

True

Верно